DATABASE_URL=mysql://localhost/testament
TEST_DATABASE_URL=mysql://localhost/testament_test
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_AUTH_URL=http://asdasdasd.com
GOOGLE_TOKEN_URL=http://token.url.com
GOOGLE_REDIRECT_URL=http://localhost:8000
